.app {
    max-width: 1140px;
    margin: 0 auto;
}
.pagination {
        li {
            span {
                cursor: pointer;
                position: relative;
                display: block;
                padding: .5rem .75rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #007bff;
                background-color: #fff;
                border: 1px solid #dee2e6;
                &.active {
                    font-size: 18px;
                }
            }
        } }
.items {
    list-style-type: none;
    padding: 5px;
}